{
    "extends": "airbnb",
    "env ": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
        "linebreak-style": 0,
        "no-unused-expressions": ["error", { "allowShortCircuit": true }]
    }
}